<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>liveproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.app.sa.Controllers.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.app.sa.Controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddcakeController</display-name>
    <servlet-name>AddcakeController</servlet-name>
    <servlet-class>com.app.sa.cakeControllers.AddcakeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddcakeController</servlet-name>
    <url-pattern>/AddcakeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletecakeController</display-name>
    <servlet-name>DeletecakeController</servlet-name>
    <servlet-class>com.app.sa.cakeControllers.DeletecakeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletecakeController</servlet-name>
    <url-pattern>/DeletecakeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchcakeController</display-name>
    <servlet-name>SearchcakeController</servlet-name>
    <servlet-class>com.app.sa.cakeControllers.SearchcakeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchcakeController</servlet-name>
    <url-pattern>/SearchcakeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatecakeController</display-name>
    <servlet-name>UpdatecakeController</servlet-name>
    <servlet-class>com.app.sa.cakeControllers.UpdatecakeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatecakeController</servlet-name>
    <url-pattern>/UpdatecakeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayallcakeController</display-name>
    <servlet-name>DisplayallcakeController</servlet-name>
    <servlet-class>com.app.sa.cakeControllers.DisplayallcakeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayallcakeController</servlet-name>
    <url-pattern>/DisplayallcakeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userdisplayController</display-name>
    <servlet-name>userdisplayController</servlet-name>
    <servlet-class>com.app.sa.Controllers.userdisplayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userdisplayController</servlet-name>
    <url-pattern>/userdisplayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartController</display-name>
    <servlet-name>cartController</servlet-name>
    <servlet-class>com.app.sa.cakeControllers.cartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartController</servlet-name>
    <url-pattern>/cartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewcartController</display-name>
    <servlet-name>viewcartController</servlet-name>
    <servlet-class>com.app.sa.cartControllers.viewcartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewcartController</servlet-name>
    <url-pattern>/viewcartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displaycartController</display-name>
    <servlet-name>displaycartController</servlet-name>
    <servlet-class>com.app.sa.cartControllers.displaycartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displaycartController</servlet-name>
    <url-pattern>/displaycartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buycakecartController</display-name>
    <servlet-name>buycakecartController</servlet-name>
    <servlet-class>com.app.sa.cartControllers.buycakecartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buycakecartController</servlet-name>
    <url-pattern>/buycakecartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecartController</display-name>
    <servlet-name>deletecartController</servlet-name>
    <servlet-class>com.app.sa.cartControllers.deletecartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecartController</servlet-name>
    <url-pattern>/deletecartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.app.sa.Controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutControl</display-name>
    <servlet-name>LogoutControl</servlet-name>
    <servlet-class>com.app.sa.Controllers.LogoutControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutControl</servlet-name>
    <url-pattern>/LogoutControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userprofileController</display-name>
    <servlet-name>userprofileController</servlet-name>
    <servlet-class>com.app.sa.Controllers.userprofileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userprofileController</servlet-name>
    <url-pattern>/userprofileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackcakeController</display-name>
    <servlet-name>BackcakeController</servlet-name>
    <servlet-class>com.app.sa.cartControllers.BackcakeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackcakeController</servlet-name>
    <url-pattern>/BackcakeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.app.sa.Controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountServlet</display-name>
    <servlet-name>CountServlet</servlet-name>
    <servlet-class>com.app.sa.Controllers.CountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountServlet</servlet-name>
    <url-pattern>/CountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayUser</display-name>
    <servlet-name>displayUser</servlet-name>
    <servlet-class>com.app.sa.Controllers.displayUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayUser</servlet-name>
    <url-pattern>/displayUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Searchuser</display-name>
    <servlet-name>Searchuser</servlet-name>
    <servlet-class>com.app.sa.Controllers.Searchuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchuser</servlet-name>
    <url-pattern>/Searchuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>purchaseUser</display-name>
    <servlet-name>purchaseUser</servlet-name>
    <servlet-class>com.app.sa.Controllers.purchaseUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>purchaseUser</servlet-name>
    <url-pattern>/purchaseUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletepurchase</display-name>
    <servlet-name>deletepurchase</servlet-name>
    <servlet-class>com.app.sa.Controllers.deletepurchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletepurchase</servlet-name>
    <url-pattern>/deletepurchase</url-pattern>
  </servlet-mapping>
</web-app>